@import "src/styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  margin: 0px 100px;
  padding-bottom: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 100px 10px 100px;
}

@media screen and (max-width: $tablet-breakpoint) {
  .container {
    margin: 0px 10px;
  }
}
