@import "src/styles/variables.scss";

.button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  color: #ffffff;
  font-weight: $font-weight-medium;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

  transition:
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s;

  &.primary {
    background: $primary-button-color;

    &:hover {
      background: $primary-button-hover-color;
    }
  }

  &.secondary {
    background-color: $secondary-button-color;
    color: black;

    &:hover {
      background: $secondary-button-hover-color;
    }
  }

  &.ghost {
    background-color: $ghost-button-color;
    color: black;

    &:hover {
      background: $ghost-button-hover-color;
    }
  }

  &.sm {
    font-size: $font-size-small;
    border-radius: $border-radius-small;
    padding: 8px 16px;
    font-size: $font-size-small;
  }

  &.md {
    font-size: $font-size-medium;
    border-radius: $border-radius-medium;
    padding: 12px 24px;
    font-size: $font-size-medium;
  }

  &.lg {
    font-size: $font-size-large;
    border-radius: $border-radius-large;
    padding: 16px 32px;
    font-size: $font-size-large;
  }
}
