@import "src/styles/variables.scss";

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.1fr 2fr 0.1fr;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";
  // grid-gap: 0.2rem;
  color: black;
  font-weight: bold;
  text-align: center;
  overflow-y: auto;
}

nav {
  background: $brand-color;
  grid-area: nav;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 0px;
  color: $white-color;
  z-index: 5;
}

main {
  // padding: 10px 0px;
  grid-area: main;
  display: flex;
  background: $container-color;
  flex-direction: column;
}

footer {
  background: $brand-color;
  grid-area: footer;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
  z-index: 5;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 2.2fr 0.1fr;
    grid-template-areas:
      "nav"
      "main"
      "footer";
  }
}
