/* COLORS */
$primary-color: #032541;
$container-color: whitesmoke;
$white-color: white;
$black-color: black;

$primary-button-color: #0468bf;
$primary-button-hover-color: #049dd9;
$primary-button-active-color: #0070d2;
$secondary-button-color: #8c8c8c;
$secondary-button-hover-color: #e0e0e0;
$secondary-button-active-color: #b3b3b3;
$ghost-button-color: transparent;
$ghost-button-hover-color: #e0e0e0;
$ghost-button-active-color: #b3b3b3;

/* TEXT */
$font: "Inter", sans-serif;

/* FONTS */
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-style: normal;
$line-height: 1;

/* LETTER SPACING */
$letter-spacing: normal;

/* PADDING */
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;

/* SHADOWS */
$shadow: 0 0 10px rgba(0, 0, 0, 0.2);
$shadow-light: 0 0 10px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 0 10px rgba(0, 0, 0, 0.5);
$shadow-darker: 0 0 10px rgba(0, 0, 0, 0.8);
$shadow-darkest: 0 0 10px rgba(0, 0, 0, 0.9);

/* BORDER RADIUS */
$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;
$border-radius-circle: 50%;

/* SPACING */
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;

/* BREAKPOINTS */
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1400px;
$fullHD: 1920px;
