@import "src/styles/variables.scss";

.typography {
  margin: 0.5rem 0;
  padding: 0;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  font-style: $font-style-normal;
  line-height: $line-height-normal;
  letter-spacing: $letter-spacing;
  color: $text-color-primary;

  &.title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &.subtitle {
    font-size: 1.5rem;
  }

  &.text {
    font-size: 1rem;
    line-height: $line-height-text;
  }

  &.label {
    font-size: 0.875rem;
  }

  &.secondary {
    color: $text-color-secondary;
  }

  &.tertiary {
    color: $text-color-tertiary;
  }

  &.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .typography {
    font-size: $font-size-small;

    &.title {
      font-size: 2rem;
    }

    &.subtitle {
      font-size: 1.2rem;
    }
  }
}
