@import "src/styles/variables.scss";
@import "src/styles/utilities.scss";

.media-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  box-shadow: $shadow-dark;
  border-radius: $border-radius-large;
  background: $card-container-color;
  margin: 10px;
}

.media-details-img-container {
  width: 900px;
  height: 650px;
  border-radius: $border-radius-large;
}

.media-details-container img {
  @include border-top-left-bottom-left-radius($border-radius-large);
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: contain;
}

.media-details-container iframe {
  @include border-top-left-bottom-left-radius($border-radius-large);
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
}

.media-details-text-container {
  @include flex-column;
  flex: 1;
  align-items: flex-start;
  gap: 20px;
  padding: 15px;
  text-align: left;
}

.flex-center-gap {
  display: flex;
  align-items: center;
  gap: 10px;
}
