@import "src/styles/variables.scss";

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
}

.footerItem {
  color: white;
  text-align: center;
  padding-right: 10px;
}

.text {
  color: white;
  padding-left: 10px;
}
