@import "src/styles/variables.scss";

.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 100px;
}

.big-container-button {
  align-self: flex-start;
  padding: 20px 20px 20px 0px;
}

@media screen and (max-width: $tablet-breakpoint) {
  .big-container {
    margin: 0px 10px;
  }
}
